body {
    font-family: Arial, sans-serif;
    margin: 40;
  }
  
  .resources-tab {
    max-width: 800px;
    margin: auto;
    padding: 2rem;
  }
  .top-banner {
    background-color: #043917; 
    color: white;
    padding: 20px;
    text-align: center;
    font-size: 3em;
    font-weight: bold;
    border-radius: 8px;
    margin-bottom: 2rem;
  }
  
  
  h1 {
      text-align: center;
      font-size: 3.5em;
      color: #043917;
      margin-bottom: 40px;
  }
  
  h2 {

    font-size: 2.5em;
    border-bottom: 2px solid rgb(249, 249, 249);
    padding-bottom: 5px;
    margin-top: 40px;
  }
  
  ul {
    list-style-type: disc;
    padding-left: 20px;
    margin-top: 5px;
  }

  ul li a {
    color: #93c5fd; 
    text-decoration: none;
    transition: color 0.3s;
  }
  
  ul li a:hover {
    color: #60a5fa; 
    text-decoration: underline;
  }
  
  
  .faq-item {
    margin: 10px 0;
  }
  
  .faq-question {
    cursor: pointer;
    font-weight: bold;
  }
  
  .faq-answer {
    display: none;
    margin-top: 5px;
    color: #555;
  }
  
  .contact-form {
    margin-top: 30px;
    background-color: #111827; 
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
  }
  
  .contact-form input,
  .contact-form textarea {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 10px;
    border: 2px solid #043917;
    border-radius: 4px;
    font-size: 1em;
    resize: vertical;
    background-color: #090909;
  }
  
  .contact-form button {
    background-color: #043917;
    color: white;
    border: none;
    padding: 12px 20px;
    border-radius: 6px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .contact-form button:hover {
    background-color: #043917;
  }
  .contact-form textarea {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 10px;
    border: 2px solid #043917; 
    border-radius: 4px; 
    background-color: #090909;        
  }
  .form-group {
    border: 2px solid #043917;
    border-radius: 6px;
    padding: 10px;
    margin-bottom: 15px;

  }
  
  
  